mixin issue(title, user, date, type)

  li
    a(href="#")
      .issue-title
        p= title
        span
          img(src=user.photo)
      .issue-footer
        .issue-date
          span=date
        case type
          when "FEATURE"
            span.issue-type.bg-teal-100
              svg.text-teal-500(viewBox="0 0 8 8" fill="currentColor")
                circle(cx="4" cy="4" r="3")
              span.issue-type-label.text-teal-900 Feature Request
          when "DESIGN"
            span.issue-type.bg-indigo-100
              svg.text-indigo-500(viewBox="0 0 8 8" fill="currentColor")
                circle(cx="4" cy="4" r="3")
              span.issue-type-label.text-indigo-900 Design
          when "ENHANCEMENT"
            span.issue-type.bg-red-100
              svg.text-red-500(viewBox="0 0 8 8" fill="currentColor")
                circle(cx="4" cy="4" r="3")
              span.issue-type-label.text-red-900 Enhancement