mixin sidebar
  .w-64.px-8.py-4.bg-gray-100.border-r.overflow-auto
    .flex.items-center
      img.h-12.w-12(src="images/logo.svg" alt="Logo")
      span.text-xl.font-semibold Kanban
      span.text-xl.font-light Board
    nav.mt-8
      block