mixin topbar
  .topbar
    header
      .searchbar
        .searchbar-left
          .search-field
            span
              i.fa.fa-search
            input(placeholder="Buscar")
        .searchbar-right
          button.notification
            i.fa.fa-bell-o
          button.avatar
            img(src="images/profile.jpg" alt="Profile")

      .topbar-page-title
        .topbar-page-title-left
          h2 Todas las Tareas
          .avatars
            span
              img(src="images/profile.jpg")
            span
              img(src="images/profile.jpg")
            span
              img(src="images/profile.jpg")
        .topbar-page-title-right
          span.view-modes
            button
              i.fa.fa-align-justify
            button.selected
              i.fa.fa-th
          button.btn-primary
            i.fa.fa-plus
            span Nueva Tarea
