include mixins/_topbar
include mixins/_sidebar
include mixins/_menu-group
include mixins/_menu-item
include mixins/_menu-button-add
include mixins/_swimlane
include mixins/_issue

doctype html
head
  link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css")
  link(rel="stylesheet", href="css/styles.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
body
  .page
    +sidebar
      +menu-group("issues", "Tareas")
        +menu-item("all", "Todas", "#", 36, true)
        +menu-item("assigned", "Asignadas a mi", "#", 2)
        +menu-item("created", "Creadas por mi", "#", 1)
        +menu-item("archived", "Archivados", "#", 0)
      +menu-group("tags", "Etiquetas")
        +menu-item("bug", "Defectos", "#", 0)
        +menu-item("feature", "Nuevo Requerimiento", "#", 0)
        +menu-item("marketing", "Marketing", "#", 0)
        +menu-item("v2", "v2.0", "#", 0)
        +menu-item("enhancement", "Mejoras", "#", 0)
        +menu-item("design", "Diseño", "#", 0)
      +menu-button-add
    .sidebar-content
      +topbar
      .content
        main
          +swimlane("Pendientes")
            +issue("US15. Autorizar Pago", {photo: "images/profile.jpg"}, "Sep 14", "FEATURE")
            +issue("US26. Diseñar Carrito de Compras", {photo: "images/profile.jpg"}, "Sep 01", "DESIGN")
            +issue("US16. Registrar Cliente VIP", {photo: "images/profile.jpg"}, "Sep 01", "FEATURE")
            +issue("US28. Usar Look-and-feel estilo Material Design", {photo: "images/profile.jpg"}, "Sep 01", "ENHANCEMENT")
          +swimlane("En Progreso")
            +issue("US12. Cambio de Password", {photo: "images/profile.jpg"}, "Sep 14", "FEATURE")
            +issue("US14. Agregar Perfil del Usuario", {photo: "images/profile.jpg"}, "Sep 01", "FEATURE")
          +swimlane("En Verificación")
            +issue("US01. Login", {photo: "images/profile.jpg"}, "Sep 14", "FEATURE")
          +swimlane("Terminados")
            +issue("US02. Logout", {photo: "images/profile.jpg"}, "Sep 14", "FEATURE")
            +issue("US03. Registrar Usuario", {photo: "images/profile.jpg"}, "Sep 01", "FEATURE")
            +issue("US04. Registrar Producto", {photo: "images/profile.jpg"}, "Sep 01", "FEATURE")
            +issue("US05. Agregar Foto al Producto", {photo: "images/profile.jpg"}, "Sep 01", "FEATURE")